html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #fff;
}

h1 {
  font-size: 6em;
  margin-bottom: 15px;
}

h2 {
  font-size: 5em;
  margin-bottom: 15px;
}

.body-background {
  background-color: #241e20;
  background-image: url("../images/light-bulb.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center left;
}

.container-fluid {
  padding-left: 30%;
  padding-right: 20%;
}

.btn-md {
  width: 100%;
  min-height: 45px;
  font-weight: bold;
}

.img-infinity {
  width: 80px;
  margin-top: 10px;
}

.btn-dark {
  color: #fff;
  background-color: #231f20;
  border-color: #4c4246;
}

.btn-dark:hover {
  color: #fff;
  background-color: #584149;
  border-color: #583c46;
}

.btn-dark:not(:disabled):not(.disabled):active,
.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #6f4d59;
  border-color: #c5b9bd;
}

.btn-dark:focus,
.btn-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(90, 71, 59, 0.5);
}

.list-group-dark .list-group-item {
  background-color: rgba(62, 40, 47, 0.5411764705882353);
  border: 2px solid #241e20;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  min-height: 135px;
}

.list-group-dark .list-group-item-action {
  color: #fff;
  margin-right: 15px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #332428;
}

.nav-item {
  margin-right: 15px;
}

a.nav-link {
  color: #964258;
  background-color: #272324;
}

@media (min-width: 991.98px) and (max-width: 1280.98px) {
  .container-fluid {
    padding-left: 40%;
    padding-right: 15px;
  }
}

@media (max-width: 991.98px) {
  .container-fluid {
    padding: 15px;
  }

  .body-background {
    background-position: center;
    background-image: none;
  }

  h2 {
    font-size: 3em;
  }
}
