body {
  color: #fff;
}

.body-background {
  background-color: #241e20;
  background-image: url("../images/light-bulb.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center left;
}

.container-fluid {
  padding-left: 30%;
}

@media (min-width: 991.98px) and (max-width: 1280.98px) {

  .container-fluid {
    padding-left: 50%;
  }

}

@media (max-width: 991.98px) { 

  .container-fluid {
    padding-left: 0%;
  }

  .body-background {
    background-position: center;
  }

}