<div class="row">
    <div class="col-12">
        <h2>
            <i class="fas fa-at"></i> Contato
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <strong>Devido ao meu forte sotaque piracicabano,</strong> recomendo os meios digitais de contato para termos um
        diálogo mais eficiente!
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3 align-self-center mb-3">
        <a href="https://www.linkedin.com/in/diegodona/" target="_blank" class="link-contato">
            <i class="fab fa-2x fa-linkedin"></i>
            <br />
            Linkedin
        </a>
    </div>
    <div class="col-md-9 contato-explicacao">
        <p>Esse é meu perfil profissional na rede social do Linkedin.</p>
        <p>Estou sempre atento às mensagens, mas limito a interação pública a compartilhar notícias e coisas relevantes
            na área de TI.</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3 align-self-center mb-3">
        <a href="mailto:diedona@gmail.com" target="_blank" class="link-contato">
            <i class="fas fa-2x fa-envelope"></i>
            <br />
            diedona@gmail.com
        </a>
    </div>
    <div class="col-md-9 contato-explicacao">
        <p>Meu principal e-mail para contatos.</p>
        <p>Se precisa entrar em contato comigo urgente, esta é sua melhor aposta.</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3 align-self-center mb-3">
        <a href="https://github.com/diedona" target="_blank" class="link-contato">
            <i class="fab fa-2x fa-github-square"></i>
            <br />
            Repo Github
        </a>
    </div>
    <div class="col-md-9 contato-explicacao">
        <p>Meu repositório de códigos públicos.</p>
        <p>A maioria dos projetos é público, então, pode espiar a vontade.</p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3 col-sm-6">
        <button class="btn btn-dark btn-md mb-2 btn-go-home">
            <i class="fas fa-arrow-left"></i> Voltar
        </button>
    </div>
</div>