<div>
    <div class="row">
        <div class="col-12">
            <h2>
                <i class="fab fa-github"></i> Espiar Github
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <strong>Estes são meus repositórios mais recentes,</strong> se quiser ver todos, visite a minha página
            direto no <a href="https://github.com/diedona" target="_blank">github.com/diedona</a>.
        </div>
    </div>
    <div class="row mt-3" id="gitHubRepos">

    </div>
    <div class="row mt-3">
        <div class="col-md-3 col-sm-6">
            <button class="btn btn-dark btn-md mb-2 btn-go-home">
                <i class="fas fa-arrow-left"></i> Voltar
            </button>
        </div>
    </div>
</div>