<div class="row">
    <div class="col-12">
        <h2>
            <i class="far fa-dot-circle"></i> Objetivos
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="">
            <strong>
                Estudar e desenvolver utilizando tecnologias e práticas novas do mercado para criar
                soluções ricas e
                robustas.
            </strong>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>
            Como desenvolvedor, não posso me dar ao luxo de deixar de aprender. É uma necessidade, tanto pessoal quanto
            profissional,
            buscar <strong>novidades</strong> na
            área de
            desenvolvimento e validar
            <br />
            se sua aplicação tem impacto positivo em meu ambiente de trabalho.
        </p>

        <p>
            Nem toda nova metodologia / prática / tecnologia é viável e nem todo projeto pode ser
            atualizado <em>do dia
                para noite</em>,
            <br />
            mas <strong>sempre busco alternativas para inovar dentro das possibilidades do escopo e
                tempo
                disponíveis.</strong>
        </p>

        <p>
            Meu objetivo é estar em um constante ciclo de aprendizado e aplicação.
        </p>

        <p><img src="./images/infinity-white.png" class="img-infinity">
        </p>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3 col-sm-6">
        <button class="btn btn-dark btn-md mb-2 btn-go-home">
            <i class="fas fa-arrow-left"></i> Voltar
        </button>
    </div>
</div>