<div class="row">
    <div class="col-12">
        <h2>
            <i class="far fa-list-alt"></i> Skills
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="">
            <strong>
                Desde 2010 eu venho adquirindo conhecimento em tecnologias e soluções tanto de <em>frontend</em> como de
                <em>backend</em>.
            </strong>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link shadow active" id="pills-frontend-tab" data-toggle="pill" href="#pills-frontend" role="tab"
                    aria-controls="pills-home" aria-selected="true">
                    Frontend
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link shadow" id="pills-backend-tab" data-toggle="pill" href="#pills-backend" role="tab"
                    aria-controls="pills-profile" aria-selected="false">
                    Backend
                </a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">

            <!-- FRONTEND SKILLS -->
            <div class="tab-pane fade show active" id="pills-frontend" role="tabpanel"
                aria-labelledby="pills-frontend-tab">

                <div class="list-group list-group-dark" id="listFrontEnd">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="list-group-item list-group-item-action flex-column align-items-start shadow-sm">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">HTML / CSS / JavaScript</h5>
                                </div>
                                <p class="mb-1">
                                    O arroz com feijão de toda interface para web.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="list-group-item list-group-item-action flex-column align-items-start shadow-sm">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">jQuery</h5>
                                </div>
                                <p class="mb-1">
                                    Biblioteca para facilitar interação e manipulação dos elementos da página.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="pills-backend" role="tabpanel" aria-labelledby="pills-backend-tab">

                <div class="list-group list-group-dark">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="list-group-item list-group-item-action flex-column align-items-start shadow-sm">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">ASP.NET / ASP.NET Core</h5>
                                </div>
                                <p class="mb-1">
                                    Framework para desenvolvimento de soluções web da Microsoft.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="list-group-item list-group-item-action flex-column align-items-start shadow-sm">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">C# (C Sharp)</h5>
                                </div>
                                <p class="mb-1">
                                    Linguagem de programação utilizada no ambiente .NET.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3 col-sm-6">
        <button class="btn btn-dark btn-md mb-2 btn-go-home">
            <i class="fas fa-arrow-left"></i> Voltar
        </button>
    </div>
</div>