<div class="row">
    <div class="col-12">
        <h2>
            <i class="far fa-list-alt"></i> Skills
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="">
            <strong>
                Desde 2010 eu venho adquirindo conhecimento em tecnologias e soluções tanto de <em>frontend</em> como de
                <em>backend</em>.
            </strong>
            <br />
            Abaixo listo as tecnologias / ferramentas que possuo conhecimento, separadas em duas abas (clique nelas para
            visualizar).
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs shadow" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#tab-frontend" role="tab"
                    aria-controls="home" aria-selected="true">Frontend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab-backend" role="tab"
                    aria-controls="profile" aria-selected="false">Backend</a>
            </li>
        </ul>
        <div class="tab-content shadow" id="pills-tabContent">

            <!-- FRONTEND SKILLS -->
            <div class="tab-pane fade show active" id="tab-frontend" role="tabpanel" aria-labelledby="tab-frontend">

                <div class="list-group list-group-dark" id="listFrontEnd">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card shadow-sm mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">HTML / CSS / JavaScript</h5>
                                    <p class="card-text">Ferramentas básicas para desenvolvimento de interfaces web /
                                        híbridas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow-sm mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">jQuery</h5>
                                    <p class="card-text">Biblioteca JavaScript para auxiliar na manipulação de
                                        elementos.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="tab-backend" role="tabpanel" aria-labelledby="tab-backend">

                <div class="list-group list-group-dark">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card shadow-sm mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">ASP.NET / ASP.NET Core</h5>
                                    <p class="card-text">Framework para desenvolvimento de soluções web da Microsoft.
                                        Core é a nova versão.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card shadow-sm mb-2">
                                <div class="card-body">
                                    <h5 class="card-title">C# (C Sharp)</h5>
                                    <p class="card-text">Linguagem de programação utilizada no framework .NET</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3 col-sm-6">
        <button class="btn btn-dark btn-md mb-2 btn-go-home">
            <i class="fas fa-arrow-left"></i> Voltar
        </button>
    </div>
</div>